* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility; /* enable fonts rendering perfectly */
}

.row {
    max-width: 1140px; /* only layout defined in px, all other will be in % */
    margin: 0 auto; /* to center a container inside another container */
}

header {
    background-image: linear-gradient(rgba(83,82,237,0.9),rgba(83,82,237,0.9)), url(img/bgImg.jpg);
    background-size: cover; /* to see whole img */
    background-position: center;
    background-attachment: fixed;
    height: 100vh; /* to cover the entire viewport, 100% of vh */
    box-shadow: 5px 10px 18px #888888;
}

.header-textbox {
    position: absolute; /* that's the only way we can vertically & horizontally center it */
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-body {
    width: 53%;
    text-align: justify;
    margin: 0 auto;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.header-heading {
    margin-bottom: 40px;
}

h1 { 
    margin: 0;
    color: #fff;
    font-size: 160%; /* basic fontsize is 20px, so make every other fontsize relative to it */
    font-weight: 400;
    /* letter-spacing: 1px;
    word-spacing: 2px; */
 }

 h2 {
     font-size: 120%;
     font-weight: 400;
     color: #000;
     margin-bottom: 20px;
     text-align: center;
 }

 h3 {
     font-size: 90%;
     font-weight: 400;
     color: #000;
    text-align: center;    
 }

 .long-copy {
    color: #000;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    margin-bottom: 80px;

 }

 p { 
    color: #fff;
    font-size: 75%;
 }

 .btn:link,
 .btn:visited {
     display: inline-block;
     padding: 10px 30px;
     font-weight: 300;
     text-decoration: none;
     border-radius: 200px;
     color: #fff;
     transition: background-color 0.2s;
     font-size: 70%;
 }

 .btn-full:link,
 .btn-full:visited {
     background-color: #2ed573;
     border: 1px solid #2ed573;
     margin-right: 15px;
 }

 .btn-full:hover,
 .btn-full:active {
     background-color: #26bb64;
 }

 .btn-transparent:link,
 .btn-transparent:visited {
     border: 1px solid #fff;
 }

 .btn-transparent:hover,
 .btn-transparent:active {
     background-color: #6261ef;
 }


 i {
    border: solid #576574;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
   text-align:center;  
}

.logo {
    float: left;
    font-size: 90%px;
    color: #fff;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 20px;
}

.main-nav li {
    display: inline-block;
    margin-left: 30px;
}

.main-nav li a:link,
.main-nav li a:visited {
   color: #fff;
   text-decoration: none;
   font-size: 75%;
   border-bottom: transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 1px solid #fff;
}

.down {
    transform: rotate(45deg);   
    -webkit-transform: rotate(45deg);
}

.down-arrow-para {
    text-align: center;
    padding: 15px 25px;;
}

.content {
    margin-top: 60px;
}

section.features {
    padding: 80px 0;
}

section.details {
    padding: 140px 0;
    background-color: #f0f0f0;
}

section.frameworks {
    padding: 140px 0;
}

section.download {
    padding: 80px 0;
    background-color: #5352ed;
}

.details-content {
    font-size: 120%;
     font-weight: 400;
     color: #000;
     margin-bottom: 20px;
    text-align: left;
}

.download-heading {
    font-size: 140%;
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
}

.features-para {
    margin-top: 10px;
    color: #000;
    line-height: 150%;
}

.download-para {
    margin-top: 10px;
    color: #fff;
    line-height: 150%;
    margin-bottom: 40px;
}

.features-img {
    height: 120px;
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 50%;
}

.details-img {
    height: 190px;
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 50%;
}

.frameworks-img {
    /* height: 190px; */
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 50%;

}

.download-wrapper {
    text-align: center;
}

footer {
    padding: 80px 0;
    background-color: #333;
}

.footer-content {
color: #fff;
text-align: center;
}

.footer-list {
   padding-left: 65px;
   margin-left: 15px;
}
.footer-list li {
    color: #fff;
    font-size: 70%;
    list-style: none;
    line-height: 30px;
}

.footer-list li a:link,
.footer-list li a:visited {
    text-decoration: none;
    color: #fff;
    border-bottom: transparent;
    
}

.footer-list li a:hover,
.footer-list li a:active {
    border-bottom: 1px dotted #fff;
}